body {
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
}

.main {
    padding: 20px;
    position: relative ;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box; /* これで要素のサイズを固定 */
}

#titleLink {
    text-decoration: none; /* 下線を消す */
    color: inherit; /* 親の文字色を引き継ぐ */
}

#list-container {
    background-color: #3776ff;
    display: flex; /* 横並びにする */
    justify-content: space-evenly; /* 各要素を均等に配置 */
    padding: 10px 0;
    list-style: none;
    align-items: center; /* 縦方向の中央揃え */
    width: 100%; /* 幅を100%にして調整 */
}

.list-item {
    background-color: rgba(55,118,255,0);
    color: white;
    text-align: center;
    padding: 10px 30px;
    border-radius: 8px;
    border: none;
    min-width: 200px;
    max-width: 300px;
    text-decoration: none;
    font-size: 18px;
    text-shadow: black 2px 2px;
    position: relative;
    align-items: center;
    text-wrap-mode: nowrap ;
    transition: 100ms;
}

.list-item:hover {
    background-color: hwb(221 52% 0%);
}

#white_line{
    border: solid white 0px;
    min-width: 2px;
    background-color: white;
    height: 55px ;
    box-shadow: black 2px 2px;
}

.icon {
    width: 29px; /* 最小サイズを守る */
    height: 29px;
    padding: 14px;
}

.logotext {
    height: 40px; /* 変更したい高さ */
    width: auto; /* アスペクト比を維持 */
    margin-right: 8px;
}